<h1>portfolio items</h1>

<%= link_to "Create New Item",new_portf_url %>

<% @portfolio_items.each do |portfolio_item| %>
<p><%= portfolio_item.title %></p>
<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<%= image_tag portfolio_item.thumn_image unless portfolio_item.thumn_image.nil? %>
<%= link_to "Edit",edit_portf_path(portfolio_item.id) %>
<% end %>
